.hero {
  @apply flex flex-col min-h-[20vh] md:min-h-[30vh] justify-center align-middle;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.hero .hero-image {
  @apply bg-cover bg-repeat absolute w-full h-[20vh] md:h-[30vh] blur-[1.25px];
  background-image: url("/hero.svg");
}
.hero .hero-text {
  @apply text-center z-10 text-white;
}
.hero .hero-text h1 {
  @apply text-3xl md:text-6xl font-bold md:mb-2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
