---
import { Icon } from "astro-icon";

import Hero from "@components/Hero/index.astro";
import Layout from "@components/Layout.astro";
// import Navbar from "@components/Navbar.astro";
import Timeline from "@/components/Timeline.astro";
---

<Layout title="Home">
<!--   <Navbar /> -->
  <Hero />
  <main class="home content">
    <div>
      <p class="intro">
        I’m Ellianto Sarono Putro a.k.a <a
        href="https://github.com/b0nz"
        target="_blank"
        ><strong>b0nz</strong></a>, a Software Engineer based in Surakarta. Highly interested in a Frontend Dev (Web & Mobile). Capable of adapting to new situations, learning new things rapidly, and taking care of my own work.
      </p>
      <div class="social">
        <a href="https://www.linkedin.com/in/ellianto" target="_blank">
          <Icon pack="fa" name="linkedin-square" size={18} />
        </a>
        <a href="https://github.com/b0nz" target="_blank">
          <Icon pack="fa" name="github" size={18} />
        </a>
        <a href="mailto:hi@b0nz.xyz" target="_blank">
          <Icon pack="fa" name="envelope" size={18} />
        </a>
      </div>
    </div>
    <Timeline />
  </main>
</Layout>
