---
import { Icon } from "astro-icon";

import Hero from "@layouts/Hero.astro";
import Layout from "@layouts/Layout.astro";
import Nav from "@layouts/Nav.astro"
---

<Layout title="Home">
  <Nav />
  <Hero />
  <main>
    <p>Ellianto Sarono Putro a.k.a <a href="https://github.com/b0nz" target="_blank"><strong>b0nz</strong></a> is Software Engineer based in Surakarta, Central Java, Indonesia. Besides developing web applications (React.js), I also explore mobile applications (Kotlin & Flutter).</p>
    <div class="social">
      <a href="https://www.linkedin.com/in/ellianto" target="_blank">
        <Icon pack="fa" name="linkedin-square" size={18} />
      </a>
      <a href="https://github.com/b0nz" target="_blank">
        <Icon pack="fa" name="github" size={18} />
      </a>
    </div>
  </main>
</Layout>

<style>
  a {
    color: deeppink;
    text-decoration: none;
    font-weight: 500;
  }
  a:hover {
    text-decoration: revert;
  }
  .social {
    gap: 16px;
    display: flex;
    align-items: center;
  }
  .social a {
    color: white;
  }
  .social a:hover {
    color: deeppink;
  }

  main {
    margin: auto;
    padding: 2em;
    max-width: 60ch;
  }

  main p {
    text-align: justify;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: var(--color-blue);
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid white;
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }
</style>
