---
import Layout from "@layouts/Layout.astro";
import Nav from "@layouts/Nav.astro"
---

<Layout title="Projects">
  <Nav />
  <main>
    <p>Soon...</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2em;
    max-width: 60ch;
  }

  main p {
    text-align: justify;
  }
</style>
