---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul>
    <li>
      <a class={currentPath === "" ? "active" : ""} href="/">HOME</a>
    </li>
    <li>
      <a class={currentPath === "projects" ? "active" : ""} href="/projects"
        >PROJECTS</a
      >
    </li>
  </ul>
</nav>
