---
const pages = {
  home: {
    url: '/',
    title: 'Home'
  },
  works: {
    url: '/works',
    title: 'Works'
  },
  // blogs: {
  //   url: '/blogs',
  //   title: 'Blogs'
  // },
}
const requestPathname = new URL(Astro.request.url).pathname;
---

<nav>
  <ul>
    {Object.values(pages).map(page => {
      const className = requestPathname === page.url && "active";
      return(
        <li>
          <a class={className} href={page.url}>{page.title}</a>
        </li>
      )
    })}
  </ul>
</nav>
