---
import dayjs from "dayjs";

const timelines = [
  {
    start_date: "2022-10-20",
    end_date: "",
    is_current: true,
    title: "Career Break",
    href: "",
    description:
      "Taking a break from work, focusing on my health. Learning new skills and spending time with my family.",
  },
  {
    start_date: "2022-07-26",
    end_date: "2022-10-20",
    is_current: false,
    title: "Sinbad",
    href: "https://www.sinbad.co.id/",
    description: `<ul class="list-disc ml-4">
        <li>Developed Sinbad\'s Seller Center Feature to manage Return Order Items & Promos (Web, Angular).</li>
        <li>Enhancement Sinbad Red (Mobile, React Native).</li>
      </ul>`,
  },
  {
    start_date: "2018-10-01",
    end_date: "2022-07-25",
    is_current: false,
    title: "Evomo",
    href: "https://www.evomo.id/",
    description: `
      <ul class="list-disc ml-4">
        <li>Created OEE (Overall Equipment Effectiveness) Monitoring System App to monitor Factory Machine, (Web - Reactjs).</li>
        <li>Created EMS (Environment Monitoring System) App to monitor environment conditions such as Temperature, Humidity, Ammonia Gas, Water Level, etc.., (Mobile & Web - Nextjs, React Native)</li>
        <li>Maintaining Jenkins Server</li>
        <li>Collaborate with UI/UX teams to develop design systems</li>
      </ul>
    `,
  },
  {
    start_date: "2018-08-01",
    end_date: "2018-10-01",
    is_current: false,
    title: "Prosehat",
    href: "https://www.prosehat.com/",
    description: `
      <ul class="list-disc ml-4">
        <li>Develop a Payment Page with Midtrans Payment Gateway (Web, Vuejs)</li>
        <li>Integrate Payment Page with Prosehat mobile app (Webview, React Native)</li>
      </ul>
    `,
  },
];
---

<div>
  <h3 class="text-2xl font-bold mb-4"># Timelines</h3>
  <ol class="relative border-l border-gray-700">
    {
      timelines?.map((timeline) => (
        <li class="mb-10 ml-4">
          <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-gray-900 bg-gray-700" />
          <time class="mb-1 text-sm font-normal leading-none text-gray-500">
            {`${dayjs(timeline?.start_date).format("MMM, YYYY")} - ${
              timeline.is_current
                ? "current"
                : dayjs(timeline?.end_date).format("MMM, YYYY")
            }`}
          </time>
          <h3 class="text-lg font-semibold text-white">
            {timeline?.href ? (
              <a href={timeline?.href} target="_blank">
                {timeline?.title}
              </a>
            ) : (
              timeline?.title
            )}
          </h3>
          <div
            class="mb-4 text-base font-normal text-gray-400"
            set:html={timeline?.description}
          />
        </li>
      ))
    }
  </ol>
</div>
