@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0f172a #374151;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0f172a;
  border-radius: 14px;
  border: 3px solid #374151;
}

@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white font-sans;
}

/* nav */
nav {
  @apply sticky backdrop-blur-lg bg-slate-900/80 top-0 z-20 py-6 pb-8 md:py-8 md:pb-10;
}
nav ul {
  @apply text-white flex justify-center align-middle gap-4;
}
nav ul li a {
  @apply text-lg font-bold no-underline hover:underline underline-offset-4 decoration-wavy;
}
nav ul li a.active {
  @apply text-yellow-300 underline;
}
/* === */

/* main & content */
main {
  @apply mx-auto max-w-screen-md py-4 px-8 md:px-0;
}
main.home {
  @apply py-16;
}
main p {
  @apply text-justify;
}
main .intro a {
  @apply text-pink-500;
}
main a {
  @apply text-white hover:text-pink-500;
}
.content {
  @apply flex flex-col gap-16;
}
/* === */

/* social */
.social {
  @apply flex align-middle gap-4 mt-4;
}
.social a {
  @apply text-2xl text-white hover:text-pink-500;
}
/* === */
